h1, h2, h3, h4, h5, h6{
    color: #fff;
}

.navbar{
    background: radial-gradient(circle at 0% -25%,#FF8947 0%,#FF8354 0,#DA2C94 42%,#3E13A5 110%);
    padding: 20px 0px 20px 0px!important;
}

.navbar-brand, .nav-link{
    color: #000!important;
}

.para {
    color: #fff;
    text-align: center;
}

b, strong{
    color: #f44336;
}

h6{
    font-weight: bold!important;
    color: #FF8947;
}

.custom-border {
    border-right: 2px solid #949494;
}

.name-circle {
    position: absolute;
    margin: 10px 0px 0px 10px;
    background: #f44336;
    padding: 15px;
    border-radius: 10%;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.paragraph {
    color: #fff;
    line-height: 30px;
}

button.btn-generate {
    background: #fff51e;
    border: none;
    outline: none;
    padding: 5px 8px;
    border-radius: 10px;
}

.card {
    border: none;
    -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.05);
    margin-bottom: 30px;
}
.w-60 {
    width: 60px;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 0 10px;
    font-weight: 600;
}
.social-links li a {
    -webkit-border-radius: 50%;
    background-color: rgba(89,206,181,.85);
    border-radius: 50%;
    color: #fff;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: 30px;
    font-size: 12px;
}
a {
    color: #707070;
}

.card-body{
    height: 100px;
    margin-bottom: 15px;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #8b0000;
    color: white;
}

.recent-card {
    background: #800000;
    padding: 10px;
}

.recent-card a{
    color: #fff;
    text-decoration: none;
    margin-left: 3px;
}

span.show-active {
    background: #fff;
    color: #000;
    padding: 0px 20px;
    margin-left: 10px; 
    transition: 0.3s; 
}

span.show-active:before {
    font-family: "FontAwesome";
    content: '\f0d9';
    font-size: 25px;
    position: absolute;
    margin-left: -28px;
    margin-top: -6px;
    color: #fff;
}

span.show-active{
    display: none;
}

a.recent-employee-name:hover + span.show-active {
    transition: 0.3s;
    display: inline-block;
}

span.show-active:after {
    font-family: 'FontAwesome';
    content: '\f111';
    font-size: 10px;
    color: #00FF00;
    position: absolute;
    margin-left: 5px;
    margin-top: 5px;
}   

.social-link{
    text-align: center;
}

.social-link a{
    color: #fff;
}

.social-link i {
    font-size: 30px;
    padding: 0px 10px;
}

.footer-text{
    text-align: center;
    color: #fff;
    margin-bottom: 0px;
    margin-top: 0px;
}

.contact-icon i{
    font-size: 30px;
    margin-right: 5px;
    margin-top: 10px;
}