<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container mt-3">
    <nav class="custom-navbar navbar navbar-expand-lg navbar-light bg-light main-breadcrumb mb-3">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
            </li>
    
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/user/lists']" routerLinkActive="router-link-active">Users lists</a> 
            </li>
    
            <li class="nav-item active">
              <a class="nav-link" [routerLink]="['/user/dashboard']" routerLinkActive="router-link-active">Dashboard</a> 
            </li>
          </ul>
          <span class="form-inline my-2 my-lg-0">
            <button (click)="logOut()" type="submit">
              Log out
            </button>
          </span>
        </div>
      </nav>

    <div class="container">
        <div class="databse-info">
            <div class="row">
                <div class="col-md-12">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <span><i class="fa fa-server"></i> System : {{systemHealth?.status}}</span>&nbsp;&nbsp;
                            <span><i class="fa fa-database"></i> DB:</span>&nbsp;
                            <span><i class="fa fa-hdd-o"></i> Disk Space: </span>&nbsp;&nbsp;
                            <span [ngClass]="{'text-danger' : SystemCPU.measurements[0].value < 2 }">
                              <i class="fa fa-microchip"></i> Processors : {{SystemCPU.measurements[0].value}}
                            </span>&nbsp;&nbsp;
                            <span><i class="fa fa-clock-o"></i> Up Time: </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>     

        <div class="row">
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">404 Response</h6>
                        <h2 class="text-right"><i class="fa fa-ban f-left"></i>
                            <span>{{http404Traces?.length}}</span>
                        </h2>
                        <p class="m-b-0">Updated : <span class="f-right">{{http404Traces[0]?.timestamp | date: 'short'}}</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">200 Response</h6>
                        <h2 class="text-right"><i class="fa fa-thumbs-up f-left"></i>
                            <span>{{http200Traces?.length}}</span>
                        </h2>
                        <p class="m-b-0">Updated :<span class="f-right">{{http200Traces[0]?.timestamp | date: 'short'}}</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">400 Response</h6>
                        <h2 class="text-right"><i class="fa fa-exclamation f-left"></i><span>
                            {{http400Traces?.length}}
                        </span></h2>
                        <p class="m-b-0">Updated :<span class="f-right">{{http400Traces[0]?.timestamp | date: 'short'}}</span></p>
                    </div>
                </div>
            </div>
            
            <div class="col-md-4 col-xl-3">
                <div class="card bg-c-pink order-card">
                    <div class="card-block">
                        <h6 class="m-b-20">500 Received</h6>
                        <h2 class="text-right"><i class="fa fa-bug f-left"></i><span>
                            {{http500Traces?.length}}
                        </span></h2>
                        <p class="m-b-0">Updated :<span class="f-right">
                            {{http500Traces[0]?.timestamp | date: 'short'}}
                        </span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="http-status-info">
            <div class="row">
                <div class="col-md-6">
                    <h4>Bar Chart</h4>
                    <canvas id="barChart" style="display: block;"></canvas>
                </div>
                <div class="col-md-6">
                    <h4>Pie Chart</h4>
                    <canvas id="pieChart" style="display: block;"></canvas>
                </div>
            </div>
        </div>
        
        <!-- Monitoring status table go here -->
        <div class="flex flex-col">
            <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                  <table id="excel-table" class="min-w-full divide-y divide-gray-200" 
                    datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                    <thead class="bg-gray-50">
                      <tr>
                        <th scope="col" class="px-6 py-3 text-center text-xs font-bold text-gray-500 uppercase tracking-wider">
                          Time Stamp
                        </th>
                        <th scope="col" class="px-6 py-3 text-center text-xs font-bold text-gray-500 uppercase tracking-wider">
                          Method
                        </th>
                        <th scope="col" class="px-6 py-3 text-center text-xs font-bold text-gray-500 uppercase tracking-wider">
                          Time Taken(ms)
                        </th>
                        <th scope="col" class="px-6 py-3 text-center text-xs font-bold text-gray-500 uppercase tracking-wider">
                          Status
                        </th>
                        <th scope="col" class="px-6 py-3 text-center text-xs font-bold text-gray-500 uppercase tracking-wider">
                            URL
                          </th>
                        <th scope="col" class="relative px-6 py-3 text-right text-xs font-large text-gray-500 uppercase tracking-wider bg-green-500">
                          <a href="" class="text-warning" style="text-decoration: none;">
                            Export data as excel <i class="fas fa-cloud-download-alt"></i>
                          </a>
                        </th>
                      </tr>
                    </thead>
                    <tbody class="bg-white divide-y divide-gray-200">
                      <tr *ngFor="let trace of traceList">
                        <td (click)="onSelectTrace(trace)" class="px-6 py-4 whitespace-nowrap">
                            <div class="flex-shrink-0 h-10">
                              <span class="flex items-center justify-center text-black">
                                {{trace?.timestamp | date: 'medium'}}
                              </span>
                          </div>
                        </td>
                        <td (click)="onSelectTrace(trace)" class="px-6 py-4 whitespace-nowrap">
                            <div class="flex-shrink-0 h-10">
                                <span class="flex items-center justify-center text-black">
                                  {{trace?.request.method}}
                                </span>
                            </div>
                        </td>
                        <td (click)="onSelectTrace(trace)" class="px-6 py-4 whitespace-nowrap">
                            <div class="flex-shrink-0 h-10">
                                <span class="flex items-center justify-center text-black">
                                    {{trace?.timeTaken}}
                                </span>
                            </div>
                        </td>
                        <td (click)="onSelectTrace(trace)" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500"
                            [ngSwitch]="trace?.response.status">
                            <div class="flex-shrink-0 h-10">
                                <span *ngSwitchCase="'200'" class="flex items-center justify-center text-black rounded-full py-1 px-1 bg-green-600 bg-opacity-50">
                                    {{trace?.response.status}}
                                </span>
                                <span *ngSwitchCase="'404'" class="flex items-center justify-center text-black rounded-full py-1 px-1 bg-blue-600 bg-opacity-50">
                                    {{trace?.response.status}}
                                </span>
                                <span *ngSwitchCase="'400'" class="flex items-center justify-center text-black rounded-full py-1 px-1 bg-yellow-600 bg-opacity-50">
                                    {{trace?.response.status}}
                                </span>
                                <span *ngSwitchCase="'500'" class="flex items-center justify-center text-black rounded-full py-1 px-1 bg-red-600 bg-opacity-50">
                                    {{trace?.response.status}}
                                </span>
                                <span *ngSwitchDefault class="flex items-center justify-center text-black">
                                    {{trace?.response.status}}
                                </span>
                            </div>
                        </td>
                        <td (click)="onSelectTrace(trace)" class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                            <div class="flex-shrink-0 h-10">
                                <span class="flex items-center justify-center text-black">
                                    {{trace?.request.uri}}
                                </span>
                            </div>
                        </td>
                        <td (click)="onSelectTrace(trace)" class="px-6 py-4 whitespace-nowrap text-right text-sm font-medium">
                          <div class="flex items-center justify-center">
                            <div class="">
                              <button (click)="onSelectTrace(trace)" class="rounded-full py-2 px-6 bg-blue-300 bg-opacity-50 text-blue-600">
                                <i class="fa fa-eye"></i>
                              </button>
                            </div>
                          </div>  
                        </td>
                      </tr>
          
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <button hidden="true" type="button" id="trace-modal" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#trace-info-modal"></button>
    </div>

<!-- Trace Information Modal -->
<div class="modal fade" id="trace-info-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">HTTP Trace Details</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body right-left-margin">
            <ul class="nav bg-light nav-pills rounded nav-fill mb-3" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="pill" href="#request">
                  <i class="fa fa-sitemap"></i> Request</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-bs-toggle="pill" href="#response">
                  <i class="fa fa-sliders"></i> Response</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade show active" id="request">
                <p>
                  <strong>Time Stamp :</strong>
                  {{selectedTrace?.timestamp | date: 'medium'}}
                </p>
                <p>
                  <strong>Time Taken(ms) :</strong>
                  {{selectedTrace?.timeTaken}}
                </p>
                <p>
                  <strong>Request Method :</strong>
                  {{selectedTrace?.request.method}}
                </p>
                <p>
                  <strong>Remote Address :</strong>
                  {{selectedTrace?.request.remoteAddress}}
                </p>
                <p>
                  <strong>URI :</strong>
                  {{selectedTrace?.request.uri}}
                </p>
                <p>
                  <strong>Origin :</strong>
                  {{selectedTrace?.request.headers['origin']}}
                </p>
                <p>
                  <strong>User Agent (Web Client) :</strong>
                  {{selectedTrace?.request.headers['user-agent']}}
                </p>
              </div>

              <div class="tab-pane fade" id="response">
                <dl>
                  <dt>Status :</dt>
                  <dd>{{selectedTrace?.response.status}}</dd>
                </dl>
                <dl>
                  <dt>Date :</dt>
                  <dd>{{selectedTrace?.response.headers['Date']}}</dd>
                </dl>
                <dl>
                  <dt>Content Type :</dt>
                  <dd>{{selectedTrace?.response.headers['Content-Type']}}</dd>
                </dl>
                <p>
                  <strong>Server Allowed Origins :</strong>
                  {{selectedTrace?.response.headers['Access-Control-Allow-Origin']}}
                </p>
              </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>